<h2>Create a new Cat!</h2>

<form action="http://localhost:3000/cats" method="post">
  <input type='text' name="cat[name]">
  <br>
  <input type='date' name="cat[birth_date]">
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="f">
  <label for="cat_sex_female">Female</label>
  <br>

  <input type="radio" name="cat[sex]" id="cat_sex_male" value="m">
  <label for="cat_sex_male">Male</label>
  <br>
  <label for="cat_coat_color">Coat color</label>
  <select name="cat[color]" id="cat_color">
    <option value="<option>">option</option>
    <option value="calico">Calico</option>
    <option value="black">Black</option>
    <option value="blue">Blue</option>
  </select>
  <br>
  <label for="cat_description">Cat's Life Story</label>
  <br>
  <textarea name="cat[description]" id="cat_description"></textarea>
  <br>
  <!-- <input type="submit" value="Create cat"> -->
  <%= button_to "Submit", {action: "create" } %>
</form>
